@import './base/reset';
@import './base/common';

@import './utils/variables';
@import './utils/hidden';

@import './components/header';
@import './components/mob-menu';
@import './components/container';
@import './components/footer';

@import './layout/hero';
@import './layout/benefits';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/modal';
@import './layout/filters';
@import './layout/project';

 

 