/* Постійні клієнти */
.section-clients {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.section-clients__title {
	font-size: 28px;
	line-height: 1.18;
	margin-bottom: 30px;

	text-align: center;
	color: var(--title-color);

	@media screen and (min-width: 1200px) {
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		margin-bottom: 50px;
		color: var(--title-color);
	}
}

.clients-icon {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.clients-icon__item {
	margin: 15px;
	flex-basis: calc((100% - 2 * 30px) / 2);

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 3 * 90px) / 3);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 6 * 180px) / 6);
	}
}

.clients-icon__link {
	display: flex;

	@media screen and (min-width: 480px) {
		width: 210px;
		height: 92px;
	}

	@media screen and (min-width: 768px) {
		width: 226px;
		height: 92px;
	}

	@media screen and (min-width: 1200px) {
		width: 170px;
		height: 92px;
	}

	align-items: center;
	justify-content: center;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	color: #afb1b8;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid #2196f3;
		color: #2196f3;
	}
}

.clients-icon__img {
	fill: currentColor;
}
