/* Герой */
.section-hero {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;

	background-color: var(--bg-hero-footer);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Img-hero-mob.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1600px;
	margin: 0 auto;
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4)),
			url(../../images/Img-hero-mob-2x.jpg);
	}
	@media screen and (min-width: 768px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4)),
			url(../../images/Img-hero-tab.jpg);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4)),
				url(../../images/Img-hero-tab-2x.jpg);
		}
	}
	@media screen and (min-width: 1200px) {
		padding-top: 200px;
		padding-bottom: 200px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4)),
			url(../../images/hero-bg.jpg);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4)),
				url(../../images/Img-hero-2x.jpg);
		}
	}
}

.section-hero__title {
	font-size: 24px;
	line-height: 1.6;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-bottom: 30px;

	color: var(--white-color);

	@media screen and (min-width: 480px) {
		font-size: 26px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.4;
	}
}

.section-hero__btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	letter-spacing: 0.06em;
	cursor: pointer;
	border-radius: 4px;
	border: none;

	padding: 10px 32px;

	color: var(--white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: #188ce8;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
	}
}
