/* Наша команда */
.section-team {
  background-color: var(--bg-section-team);

}
  
  .section-team__title {
    font-weight: 700;
    font-size: 28px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

margin-bottom: 30px;

color: var(--title-color);

@media screen and (min-width: 1200px){
  font-size: 36px;
  line-height: 1.17;

  margin-bottom: 50px;
}

  }
  
  .team {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  .team__item {
    &:not(:last-child){
      margin-bottom: 30px;
    }
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;


    @media screen and (min-width: 768px) {
     flex-basis: calc((100% - 30px) / 2);
     &:not(:last-child){
      margin-bottom: 0px;
    }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
}
    
}
  
  .team__img{
    width: 100%;
  }
  
  .team__card-box {
    padding-top: 30px;
    padding-bottom: 30px;
   
  }
  
  .team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  
    margin-bottom: 10px;
  
    color: var(--title-color);
  }
  
  .team__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .team-icon {
    display: flex;
    justify-content: center;
  }
  
  .team-icon__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .team-icon__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    color: #afb1b8;
    background-color: white;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


      &:hover,
      &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
      }
  }
  
  .team-icon__img {
    fill: currentColor;
}
  
  
  