/* Чим ми займаємося */
.section-work {
  @media screen and (max-width: 1199px) {
      display: none;
    }
    padding-bottom: 94px;
  }
  
  .section-work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  
    margin-bottom: 50px;
  
    color: var(--title-color);
  }
  
  .work {
    display: flex;
    margin-left: -30px;
  }
  
  .work__item {
    position: relative;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
  
  .work__images {
    position: relative;
    display: flex;
    align-items: center;


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
    
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
  
  
  
  .work__text {
    position: absolute;
    width: 100%;
  
    margin-top: 251px;
    margin-bottom: 27px;
  
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  
    color: var(--white-color);
  }
  