/* Підвал */
.footer {
    background-color: var(--bg-hero-footer);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer__logo-first {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
  
    margin-bottom: 28px;
  
    color: var(--accent-color);
  }
  
  .footer__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
  
    margin-bottom: 28px;
  
    color: var(--white-color);
  }
  
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .footer-contacts__link--address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    color: var(--white-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  
  
  
  .footer-contacts__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    color: var(--footer-contacts-list-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }

  .footer-contacts__link--address {
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  
  
  
  .footer-wrapper {
    @media screen and (min-width: 480px) {
    }
    
     @media screen and (min-width: 1199px) {
      display: flex;
     }
  }
  
  .footer-wrapper-contacts {
    // margin-right: 70px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .footer-wrapper-address {
    @media screen and (max-width: 1199px) {
      text-align: center;
      margin-bottom: 60px;}

      @media screen and (min-width: 768px)
      {
        text-align: center;
        margin-bottom: 60px;}
  }
  
    

  .footer-wrapper-icon {
    margin-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
  }
  
  .footer-wrapper-icon__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
  }
  
  .footer-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  width: 216px;
  margin-left: auto;
  margin-right: auto;
  }

  .footer-icon__item {
    flex-basis: calc((100% - 4 * 40px) / 4);
    margin: 5px;
  }
  
  /*.footer-icon__item:not(:last-child) {
    margin-right: 10px;
  }*/
  
  .footer-icon__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    color: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



    &:hover,
    &:focus {
    background-color: var(--accent-color);
  }
  }
  
  .footer-icon__img {
    fill: currentColor;
  }

  
    
    
  
  
  
  .footer-form {
    text-align: center;
    @media screen and (min-width: 768px) and (max-width: 1199px){
      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }


  @media screen and (min-width: 1200px) {
    margin-left: auto;

   
  }
}
  .footer-form__text {
    margin-bottom: 20px;
  
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--white-color);
  }
  
  .footer-form__input {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
  
    color: rgba(255, 255, 255, 0.6);
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-hero-footer);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);



    &:hover,
    &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }


  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  }

  
  .footer-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-form__btn {
    display: inline-flex;
    align-items: center;    
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
  
    text-align: center;
    letter-spacing: 0.06em;
  
    color: var(--white-color);
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  
    background: var(--accent-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }

    &::after {
      content: "";
      margin-left: 10px;
      background-image: url(../images/icon\ send\ \(1\).svg);
      width: 24px;
      height: 24px;
    }
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
  
  
  
  