body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
    background-color: var(--white-color);
    color: var(--text-color);
  }
  
.list {
    padding: 0;
    /*margin: 0;*/
    list-style: none;
  }